/*
COLOR PALETTE
https://coolors.co/3f033f-f2f3ae-838e83-b76d68-ff6b35
#3F033F - Dark Purple
#F2F3AE - Pale Lime-Yellow
#F4F3EE - White-ish
#53999A - Blue-Green
#B76D68 - Pastelle Red
#FF964F - Orange
*/

/* Global Styles
---------------------------------------------------------*/
* {
  align-items: center;
  padding: 0;
  margin: 0;
}

.bg-black {
    background: #000
}

.skill-block {
    width: 30%
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&family=Raleway:ital,wght@0,200;0,400;1,100&display=swap');

@media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
        padding: 32px !important
    }
}

@media (min-width: 1200px) {
    .skill-block {
        padding: 56px !important
    }
}

body {
    color: #53999A;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1;
    position: relative;
  }
  a {
    color: #3F033F;
  }
  a:hover {
    text-decoration: none;
  }
  h1{
    font-size: 150px;
    text-align: center;
    padding-right: 40px;
    padding-bottom: 40px;
    color: white;
  }
  h2 {
    padding: 30px;
    text-align: center;
  }
  h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
  }
  .about-me{
    font-style: italic;
    font-size: larger;
  }
  .content-wrap {
    width: auto;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
/* Dropdown Menu
  ---------------------------------------------------------*/
  .linkedin-logo {
    height: 23.993px;
  }
  .github-logo {
    height: 23.993px;
  }

  .mynav a {
    margin-right: 30px;
    border-bottom: 3px solid transparent;
  }

  .mynav a:hover{
    border-bottom: 3px solid #209c08;
  }

  .active a {
    border-bottom: 3px solid #3260a8;
  }

  .dropdown-menu a {
    border-bottom: 3px solid transparent;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
    border-bottom: 3px solid transparent;
  }


  /* Profile
  ---------------------------------------------------------*/
  
  .homebackgroundimg {
    background-image: url(images/Home\ Image.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .home {
    text-align: center;
    font-size: 5em;
    /* font-family: 'Raleway', sans-serif; */
    color: #fff;
  }

  .bio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 10px 20px;
  }

  .profile-pic {
    height: 400px;
    border-radius: 20%;
  }
  
  .about-me {
    background-color: rgba(41, 155, 163, 0.4);
  }
  .about-me {
    height: 100vh;
    padding: 15px;
  }

  .about-me .btn:hover {
    color: #3F033F;
    background: rgba(63,3,63,0.5);
  }

  .about-me .btn {
    color: #F4F3EE;
    background: #3F033F;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.Click-here {
  /* cursor: pointer;
  background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
  color: #fff;
  width: 180px;
  text-align: center;
  font-size:16px;
  padding: 18px 0;
  margin: 0 auto;
  transition:background-image 3s ease-in-out; */
  color: #F4F3EE;
  font-size: large;
  background: #3F033F;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.Click-here:hover{
  /* transition:background-image 3s ease-in-out;
  background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%); */
  color: #3F033F;
  background: rgba(63,3,63,0.5);
}
.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
	overflow-y: auto;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}

  /* Projects
  ---------------------------------------------------------*/
  .project {
    text-align: center;
    font-size: 5em;
    /* font-family: 'Raleway', sans-serif; */
    color: #fff;
  }

  .projbackgroundimg {
    background-image: url(images/Project\ Head.JPG);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .projectcards {
    color: transparent;
  }
 
  .card-deck {
    padding: 10px;
  }
  .card-img-top {
    width: 75px;
    height: 350px;
  }

  /*   */
  .projectcards .img{
    height:150px;
    width:100%;
  }
  
  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }

  .card{
    transition:0.5s;
    cursor:pointer;
    margin:5px;  
  }
  .card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px; 
    color: gray; 
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  
  .card-body .btn {
    color: #F4F3EE;
    background: #3F033F;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
  }

  .card-body .btn:hover {
    color: #3F033F;
    background: rgba(63,3,63,0.5);
  }
   
  /* Footer  ---------------------------------------------------------*/
.footer {
  position: absolute;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
/* Credit to https://epicbootstrap.com/snippets/footer-basic */
  